.mainContent{
    background-color: lightsteelblue;
    border: 2px black solid;
    margin-left: 20px;
    margin-right: 150px;
    margin-top: 20px;
    padding-bottom: 40%;
    text-align: center;
}

.newInstr {
    max-width: 1500px;
    margin: auto;
}

.instrHeader {
    margin-bottom: 30px;
}

.instrInputs {
    margin-top: 10px;
}

.instr-preview {
    background-color: lightblue;
    margin: 20px 0;
    border: 1px solid white;
}

.instr-preview:hover {
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.instr-preview h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.instrTitle {
    margin-top: 30px;
    color: blue;
}

.instrNumber {
    font-style: normal;
    color: blue;
}

.instrContent {
    text-align: left;
    font-size: 150%;
    margin-left: 25px;
    margin-right: 25px;
}

.deleteInstr {
    margin-bottom: 10px;
}

.createInstr {
    margin-top: 10px;
}

label {
    display: block;
}

h1 {
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
}

input, textarea {
    width: 50%;
    margin: auto;
    border: 1px solid black;
    box-sizing: border-box;
    display: block;
}