.loginLabel {
  text-shadow: 2px 2px black;
}

.logo {
  margin: 10px;
}

.NavLinksContainer {
  border: 2px solid black;
  background-color: steelblue;
  color: black;
  list-style-type: none;
  padding: 3px;
  float: right;
  text-align: left;
}

li {

  margin-top: 5px;
  margin-bottom: 5px;
}

.headerLinks {
  color: white;
  list-style-type: none;
}

body {
  background-color: deepskyblue;
}
